
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>  
    <title>IDK_IDK</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

html {
	background: linear-gradient(90deg, #050505 10%, #181717 90%);  
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	padding-top: 50px;
}

h1 {
	text-shadow: 1px 1px 10px rgba(black, .5);
}

h1, h2 {
	text-align: center;
	color: rgb(252, 249, 248);
	font-size: 2.5em;
	line-height: 1.3em;
	font-weight: 300;}
h2 {
	margin-top: 100px;
	font-size: 1.3em;
	font-style: italic;
	font-weight: 100;
}

.body {
	width: 100%;
	height: 250px;
	box-sizing: border-box;
}

input {
	box-sizing: border-box;
	font-size: 13px;
	vertical-align: top;
}

.wrapper {
	text-align: center;
	position: relative;
	height: 80px;
	font-size: 0;
	top: 50%;
	transform: translateY(-50%);
}

.search {
	padding: 0 30px;
	font-size: 18px;
	width: 60%;
	max-width: 400px;
	height: 80px;
	border: 1px solid darken(white, 30%);
	border-radius: 30px 0 0 30px;
}

.submit {
  background-color: white; 
  color: black; 
  border: 2px solid #28a748;
  background-color: #7a69da;
  color: white;
  background-size: 35px 35px;
border-radius: 0 20px 20px 0;
padding: 15px 25px;
display: inline-block;
width: 150px;
	height: 80px;

}
    </style>
</head>
<body>

    <div class="body">
        <h1> <strong>Url Shortener</strong> <br/></h1>
        <div class="wrapper">
            <form action="/send" method="POST">
        
                <input class="search" type="text" id="URL" name="URL"  />
                <input class="submit" onclick="myFunction()" type="submit" value="Shorten"/> 
            </form>
        </div>
        
    </div>
    <input type="text" value={{sum}} id="myInput" style=" font-size: 0.6px; color: rgb(0, 0, 0); background-color: black; ">

	<h2>{{sum2}}</h2>
</body>

<script>
    function myFunction() {
      var copyText = document.getElementById("myInput");
      copyText.select();
      copyText.setSelectionRange(0, 99999)
      document.execCommand("copy");
      alert("Copied the text: " + copyText.value);
    }
    </script>
</html>
